satellite-communicator-dto/target
satellite-communicator-parent/target
satellite-communicator-rest/target
satellite-communicator-service/target
satellite-communicator-utils/target
satellite-communicator-app/target

.idea